.has-mb-1 {
    margin-bottom: 1rem !important;
}

.has-mb-0_5 {
    margin-bottom: 0.5rem !important;
}

.is-block-centered {
    margin: 0 auto;
}

.is-size-tiny {
    font-size: 0.65rem !important;
}

.is-circle {
    border-radius: 50%;
    overflow: hidden;
}

/* Overrides */
.media-content {
    overflow-x: initial;
}